


.main{
    text-align: center;
    /* display: flex; */
}
.inmain{
    display: flex;
    text-align: center;
    margin: 5px;
}
.main input{
    padding: 5px;
    width: 90%;
}
.main input:hover{
    /* width: 50%; */
    background-color: bisque;
    border-radius: 10px;
    
}
.main button{
    padding:5px 20px;
    background-color: rgb(221, 112, 112);
    border-radius: 5px;
}
.main button:hover{
    background-color: aquamarine;
}
#d1{
    padding: 5px;
    width: auto;
    background-color: rgb(216, 247, 204);
}
#d1 i{
    padding-right: 5px;
}
#d1 i:hover{
    background-color: aquamarine;
    padding: 5px;
}
/* li{
    list-style-type: none;
} */

